
.body{
  background-image: url('/src/images/banner.png');
  
 
}
   .background-con2{
   
    position: relative;
    background-color: transparent;
    border: 2px solid rgb(248, 169, 66);
    backdrop-filter: blur(2px);
    box-shadow: 0 0 20px  rgb(250, 163, 49);;
    border-radius: 10px;
    width: 420px;
    height: 530px;
    color: white;
   
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 30rem;
    margin-top: 3rem;
  }
  
  form h1{
    /* text-align: center; */
    white-space: nowrap;
    margin-left: -1.5rem;
    
  }
  
  .box-container2{
      padding: 50px;
  }
  
  
   form .input-box2{
      position: relative;
      width: 100px;
      height: 50px;
      margin: 30px 0;
     
  }
    
  
  .input-box2 input{
      width: 300px;
      height: 50px;
      background: transparent;
      border-radius: 30px ;
      border: none;
      outline: none;
      border: 2px solid rgba(255, 255, 255, 0.1);
      font-size: 16px;
      color: white;
      
  }
     .input-box2 input::placeholder{
      color: white;
     }

     .user{
      position: absolute;
      top: 29%;
      margin-left: 17rem;
      font-size: 20px;
      color: white;
     }

     .Remem{
      display: flex;
      justify-content: space-between;
      width: 20px;
      
      margin-left: 10px;
     }
     .check{
      margin-top: 2px;
     }
     .term{
      margin-left: 8px;
     }

form button{
  width: 315px;
  height: 40px;
  background: transparent;
  border-radius: 30px ;
  border: none;
  outline: none;
  color: black;
  background-color: white;
  margin-top:25px;
}

.Register1{
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
}

.Register1 a{
  color: white;
}

.error1{
  
 color: rgb(252, 4, 4);
 font-size: 15px;
 white-space: nowrap;
 margin-left: 20px;
 margin-top:0px ;
}


@media (max-width: 1100px) {
  .body {
   

     display: flex;
     justify-content: center;
  margin-left:-30rem;
  }
}